{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}Analytics {% endblock %}
{% block analytics %}
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>

<h1>Welcome, {{ user.username }} to the analytics page!</h1>


{% if total_reminders != 0 %}
<div class="mt-8 mb-6 mx-auto p-4 bg-white rounded-lg shadow-md hover:shadow-2xl">
    <div class="mb-4 chart-container">
        <canvas id="reminderChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        // Parse Django variables and set default values if they are not defined
        let completedReminders = parseInt("{{ completed_reminders|default_if_none:'0' }}");
        let totalReminders = parseInt("{{ total_reminders|default_if_none:'0' }}");

        // Check if the parsed values are valid numbers, if not, set them to 0
        if (isNaN(completedReminders)) {
            completedReminders = 0;
        }
        if (isNaN(totalReminders)) {
            totalReminders = 0;
        }

        let ctx = document.getElementById('reminderChart');
        let chart;

        function createChart() {
            chart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Completed Reminders', 'Incomplete Reminders'],
                    datasets: [{
                        data: [completedReminders, totalReminders - completedReminders],
                        backgroundColor: ['green', 'red'],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Completed vs Incomplete Reminders',
                            'position': 'bottom',
                        }
                    }
                }
            });
        }

        function resizeChart() {
            if (chart) {
                chart.destroy();
            }
            createChart();
        }

        createChart();
        window.addEventListener('resize', resizeChart);
    </script>
</div>

<style>
    /* Center the chart and make it larger */
    .chart-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        /* Adjust the maximum width as needed */
        margin: 0 auto;
        /* Center horizontally */
        max-height: 50vh;
        /* Adjust the maximum height as needed */
    }
</style>

{% else %}
<p>No reminders found!</p>
{% endif %}

{% if total_goals != 0 %}
<div class="mt-8 mb-6 mx-auto p-4 bg-white rounded-lg shadow-md hover:shadow-2xl">
    <div class="mb-4 chart-container">
        <canvas id="goalPieChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        // Parse Django variables and set default values if they are not defined
        let completedGoalsPie = parseInt("{{ completed_goals|default_if_none:'0' }}");
        let totalGoalsPie = parseInt("{{ total_goals|default_if_none:'0' }}");

        // Check if the parsed values are valid numbers, if not, set them to 0
        if (isNaN(completedGoalsPie)) {
            completedGoalsPie = 0;
        }
        if (isNaN(totalGoalsPie)) {
            totalGoalsPie = 0;
        }

        let goalctx = document.getElementById('goalPieChart');
        let goalchart;

        function createChart() {
            goalchart = new Chart(goalctx, {
                type: 'doughnut',
                data: {
                    labels: ['Completed Goals', 'Incomplete Goals'],
                    datasets: [{
                        data: [completedGoalsPie, totalGoalsPie - completedGoalsPie],
                        backgroundColor: ['green', 'red'],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Completed vs Incomplete Goals',
                            'position': 'bottom',
                        }
                    }
                }
            });
        }

        function resizeChart() {
            if (goalchart) {
                goalchart.destroy();
            }
            createChart();
        }

        createChart();
        window.addEventListener('resize', resizeChart);
    </script>
</div>

<style>
    /* Center the chart and make it larger */
    .chart-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        /* Adjust the maximum width as needed */
        margin: 0 auto;
        /* Center horizontally */
        max-height: 50vh;
        /* Adjust the maximum height as needed */
    }
</style>

<br><br><br>

<div class="mt-6 mx-auto p-4 bg-white rounded-lg shadow-md hover:shadow-2xl">
    <div class="mb-4">
        <canvas id="goalChart" class="w-full h-auto"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        let gctx = document.getElementById('goalChart');
        let gchart;

        // Parse the JSON data from the context
        let goalCategoryData = JSON.parse('{{ goal_category_json|escapejs }}');

        // Extract categories and counts
        let categories = goalCategoryData.map(entry => entry.category);
        let counts = goalCategoryData.map(entry => entry.count);

        function createGoalChart() {
            gchart = new Chart(gctx, {
                type: 'bar',
                data: {
                    labels: categories,
                    datasets: [{
                        label: 'Categories of Goals',
                        data: counts,
                        backgroundColor: [
                            'rgb(75, 192, 192)',
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(153, 102, 255)',
                            'rgb(255, 77, 77)',
                            'rgb(75, 192, 150)',
                            'rgb(255, 120, 203)',
                            'rgb(100, 149, 237)',
                            // Add more colors if needed
                        ],

                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            stepSize: 1 // You can adjust the step size as needed
                        }
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: 'Categories of Goals',
                            'position': 'bottom',
                        }
                    }
                }
            });
        }

        // Create the initial chart
        createGoalChart();

        // Handle window resize events
        window.addEventListener('resize', () => {
            gchart.resize(); // Resize the chart
        });
    </script>
</div>

{% else %}
<p>No Goals found!</p>
{% endif %}


{% if total_notes != 0 %}
<br><br><br> -->
<!-- Word Cloud -->
<!-- <div class="mt-6 mb-8 mx-auto p-4 bg-white rounded-lg shadow-md hover:shadow-2xl"> -->
<!-- Display the word cloud image -->
<!-- <img src="{{ wordcloud_image_path }}" alt="Word Cloud" class="w-full h-auto mb-3" />
    <hr>
    <p class="mt-3 text-center">Notes Word Count</p>
</div> -->


<!-- {% else %}
<p>No Notes found!</p>
{% endif %} -->

Page has been shifted to Dashboard

<br><br>


<button type="button"
    class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Blue</button>
<button type="button"
    class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Green</button>
<button type="button"
    class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Cyan</button>
<button type="button"
    class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Teal</button>
<button type="button"
    class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Lime</button>
<button type="button"
    class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Red</button>
<button type="button"
    class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Pink</button>
<button type="button"
    class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Purple</button>


<br><br>
<hr>

<a href="#_"
    class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-blue-600 transition duration-300 ease-out border-2 border-blue-500 rounded-full shadow-md group">
    <span
        class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-blue-500 group-hover:translate-x-0 ease">
        <svg fill="#ffffff" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 455 455" xml:space="preserve" stroke="#ffffff"
            stroke-width="11.375">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <polygon
                    points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 455,242.5 ">
                </polygon>
            </g>
        </svg>
    </span>
    <span
        class="absolute flex items-center justify-center w-full h-full text-blue-500 transition-all duration-300 transform group-hover:translate-x-full ease">Add
        Reminder</span>
    <span class="relative invisible">Add Reminder</span>
</a>
<br><br><br>

<a href="#_"
    class="relative inline-flex items-center px-12 py-3 overflow-hidden text-lg font-medium text-indigo-600 border-2 border-indigo-600 rounded-full hover:text-white group hover:bg-gray-50">
    <span
        class="absolute left-0 block w-full h-0 transition-all bg-indigo-600 opacity-100 group-hover:h-full top-1/2 group-hover:top-0 duration-400 ease"></span>
    <span
        class="absolute right-0 flex items-center justify-start w-10 h-10 duration-300 transform translate-x-full group-hover:translate-x-0 ease">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
        </svg>
    </span>
    <span class="relative">Button Text</span>
</a>

{% endblock analytics %}