{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="min-h-screen flex items-center justify-center">
    <div class="content-section p-4 border max-w-md w-full">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-b mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mt-4">
                <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 w-full rounded"
                    type="submit">Login</button>
            </div>
        </form>
        <div class="border-t pt-3">
            <small class="text-gray-500">
                Do not have an Account? <a class="ml-2 text-blue-500" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
</div>



{% endblock content %}