{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-900">
    <div class="content-section p-4 border rounded-lg max-w-md w-full">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-b mb-4 text-white">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mt-4">
                <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 w-full rounded"
                    type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>



{% endblock content %}