{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard | Life Organizer</title>
    {% tailwind_css %}
</head>

<body>
    <div class="fixed left-0 top-0 h-full w-60 md:w-96 max-w-80 bg-gray-900">
        <!-- vertical navbar -->
        <nav class="text-white">
            <a href="{% url 'dashboard-home' %}">
                <div class="flex justify-evenly items-center pt-7 mb-16">
                    <div>
                        <img src="{% static 'dashboard/logo.png' %}" alt="Life Organizer" class="custom-rounded-l">
                    </div>
                    <div class="text-2xl uppercase font-bold">
                        Life Organizer
                    </div>
                </div>
            </a>
            <div class="grid grid-cols-1 text-2xl">
                {% if request.path == '/' %}
                <a href="{% url 'dashboard-home' %}" class="block py-8 px-20 bg-gray-600">
                    {% else %}
                    <a href="{% url 'dashboard-home' %}" class="block py-8 px-20 hover:bg-gray-600">
                        {% endif %}
                        <span class="">DO</span> <span class="">Dashboard</span>
                    </a>

                    {% if '/reminder/' in request.path %}
                    <a href="{% url 'reminder-home' %}" class="block py-8 px-20 bg-gray-600">
                        {% else %}
                        <a href="{% url 'reminder-home' %}" class="block py-8 px-20 hover:bg-gray-600">
                            {% endif %}
                            <span>RO</span> <span>Reminder</span>
                        </a>
                        <a href="#" class="block py-8 px-20 hover:bg-gray-600">
                            <span>NO</span> <span>Note</span>
                        </a>
                        <a href="#" class="block py-8 px-20 hover:bg-gray-600">
                            <span>CO</span> <span>Calendar</span>
                        </a>
                        <a href="#" class="block py-8 px-20 hover:bg-gray-600">
                            <span>GO</span> <span>Goal</span>
                        </a>
            </div>
            <a href="{% url 'logout' %}">
                <div class="absolute bottom-0 left-0 w-full py-8 px-16 text-2xl flex justify-between bg-gray-950">
                    <span>LO</span>
                    <span>Logout</span>
                </div>
            </a>
        </nav>
    </div>
    <!-- main content -->
    <div></div>
</body>

</html>