{% extends "dashboard/base.html" %}
{% block content %}
{% for content in contents %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ content.author }}</a>
            <small class="text-muted">{{ content.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ content.title }}</a></h2>
        <p class="article-content">{{ content.content }}</p>
    </div>
</article>
{% endfor %}
{% endblock content %}