{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reminder {% endblock %}


{% block reminder %}
<div class="container m-auto mt-8 grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-8 mb-6">
    {% for reminder in reminders %}
    {% if not reminder.is_completed %}
    <div
        class="p-10 leading-6 rounded-lg shadow-md hover:shadow-2xl dark:hover:shadow-gray-800 dark:text-gray-200 dark:bg-slate-800">
        <div class="flex justify-between">
            <div class="">
                <h2 class="font-bold text-2xl mb-2">
                    <a href="{% url 'reminder-detail' reminder.id %}">{{ reminder.title }}</a>
                </h2>
                <!-- <span class="dark:text-gray-500 text-sm">Added on: </span> -->
                <!-- <i class="italic font-light dark:text-gray-500 text-sm">
                    {{ reminder.date_added|date:"F d, Y h:i A" }}
                </i><br /> -->
                <span class="dark:text-gray-500 text-sm">Due Date: </span>
                <i class="italic font-light dark:text-gray-500 text-sm">
                    {{ reminder.due_date|date:"d/m/Y H:i" }}

                </i>
                <br><br>
                <p class="text-lg">{{ reminder.description }}</p>
                <br>
                <!-- <p>complete? {{ reminder.is_complete }}</p> -->
                <!-- <i> notification mode: {{ reminder.notification_mode }} </i>
                <br /> -->
            </div>
            <div class="flex flex-col justify-evenly pl-4">
                <a href="/reminder/{{ reminder.id }}/update/">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.8em" viewBox="0 0 576 512" style="fill: #EEEEEE;">
                        <path
                            d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z" />
                    </svg>
                </a>
                <div class="my-7"></div>
                <a href="/reminder/{{ reminder.id }}/delete/">
                    <svg id="deletesvg" xmlns="http://www.w3.org/2000/svg" height="1.8em" style="fill: #b92727;"
                        viewBox="0 0 448 512">
                        <path
                            d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="mb-16">
    <hr class="mt-10 border-2 border-gray-700 rounded-lg">
    <h1 class="font-bold p-6 text-xl dark:text-gray-200">Completed Reminders</h1>
    <div class="container m-auto mt-2 grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-8 mb-6">
        {% for reminder in reminders %}
        {% if reminder.is_completed %}
        <div class="p-10 leading-6 rounded-lg shadow-md hover:shadow-2xl dark:hover:shadow-gray-800 dark:bg-slate-800">
            <div class="flex justify-between">
                <div class="dark:text-gray-200">
                    <h2 class="font-bold text-xl mb-2 dark:text-gray-200">
                        <a href="{% url 'reminder-detail' reminder.id %}">{{ reminder.title }}</a>
                    </h2>
                    <span class="dark:text-gray-500">Added on: </span>
                    <i class="italic font-light dark:text-gray-500">
                        {{ reminder.date_added|date:"F d, Y h:i A" }}
                    </i><br />
                    <span class="dark:text-gray-500">Due Date: </span>
                    <i class="italic font-light dark:text-gray-500">
                        {{ reminder.due_date|date:"F d, Y H:i A" }}
                    </i>
                    <br><br>
                    <p>{{ reminder.description }}</p>
                    <br>
                    <!-- <p>complete? {{ reminder.is_complete }}</p> -->
                    <!-- <i> notification mode: {{ reminder.notification_mode }} </i> -->
                    <!-- <br /> -->
                </div>
                <div class="flex flex-col justify-evenly px-8">
                    <a href="/reminder/{{ reminder.id }}/update/">
                        <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 576 512"
                            style="fill: #EEEEEE;">
                            <path
                                d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z" />
                        </svg>
                    </a>
                    <div class="my-7"></div>
                    <a href="/reminder/{{ reminder.id }}/delete/">
                        <svg id="deletesvg" xmlns="http://www.w3.org/2000/svg" height="2em" style="fill: #b92727;"
                            viewBox="0 0 448 512">
                            <path
                                d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

</div>

<!-- <div class="px-6 py-4 bg-blue-500 text-white rounded text-2xl hover:bg-blue-600 right-10 bottom-10 fixed">
    <a href="/reminder/new/" class="">
        Add Reminder
    </a>
</div> -->

<button type="button"
    class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-lg px-8 py-4 text-center mr-4 mb-4 right-10 bottom-6 fixed">
    <a href="/reminder/new/" class="">
        Add Reminder
    </a>
</button>

<!-- <a href="/reminder/new/"
    class="right-10 bottom-10 fixed inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-blue-600 transition duration-300 ease-out border-2 border-blue-500 rounded-full shadow-md group">
    <span
        class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-blue-500 group-hover:translate-x-0 ease">
        <svg fill="#ffffff" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 455 455" xml:space="preserve" stroke="#ffffff"
            stroke-width="11.375">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <polygon
                    points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 455,242.5 ">
                </polygon>
            </g>
        </svg>
    </span>
    <span
        class="absolute flex items-center justify-center w-full h-full text-blue-500 transition-all duration-300 transform group-hover:translate-x-full ease">Add
        Reminder</span>
    <span class="relative invisible">Add Reminder</span>
</a> -->

{% endblock reminder %}


<!-- {% block addtitle %}
Reminder
{% endblock %} -->
<!-- 
{% block addform %}

<div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ r_form|crispy }}
        </fieldset>
        <div class="form-group mt-4">
            <button
                class="border border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white font-bold py-2 px-4 w-full rounded"
                type="submit">Add</button>
        </div>
    </form>
</div>

{% endblock addform %} -->

<!-- {% block buttonname %}
Reminder
{% endblock buttonname %} -->