{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reminder {% endblock %}


{% block reminder %}
<div class="h-screen flex items-center justify-center mt-auto text-xl">
    <div class="border p-10 leading-6 mb-14">
        <h2 class="font-bold text-3xl mb-2">
            <a href="{% url 'reminder-detail' reminder.id %}">
                {{ object.title }}
            </a>
        </h2>
        <span class="">Added on: </span> <i class="italic font-light"> {{ object.date_added|date:"F d, Y h:i A" }}
        </i><br />
        <span class="">Due Date: </span> <i class="italic font-light"> {{ object.due_date|date:"F d, Y H:i A" }}
        </i>
        <p>{{ object.description }}</p>
        <i> notification mode: {{ object.notification_mode }} </i>
        <br />
        <p>by: {{ object.user }}</p> <br>
    </div>
</div>
{% endblock reminder %}

<!-- {% block addtitle %}
Reminder
{% endblock %}

{% block addform %}

<div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-b mb-4">Add Reminder</legend>
            {{ r_form|crispy }}
        </fieldset>
        <div class="form-group mt-4">
            <button
                class="border border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white font-bold py-2 px-4 w-full rounded"
                type="submit">Add</button>
        </div>
    </form>
</div>

{% endblock addform %}

{% block buttonname %}
Reminder
{% endblock buttonname %} -->