{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
{% if 'new/' in request.path %} Add
{% else %} Update
{% endif %}
Reminder {% endblock %}

{% block reminder %}
<style>
    #div_id_title>label,
    #div_id_description>label,
    #div_id_due_date>label,
    #div_id_is_completed>label,
    #div_id_notification_mode>label {
        color: rgb(229 231 235);
    }

    #div_id_title>input,
    #div_id_description>textarea,
    #div_id_due_date>input,
    #div_id_due_date,
    #div_id_is_completed>input,
    #div_id_notification_mode>select {
        background-color: #111827;
        border-color: #718096;
        color: white;
        color-scheme: dark;
    }
</style>
<div class="container mx-auto flex justify-center items-center mt-5 mb-5 dark:text-gray-200">
    <div class="content-section rounded-lg p-8 border-2 border-gray-700" style="max-width: 600px; width: 100%;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-b mb-4">
                    {% if 'new/' in request.path %} Add
                    {% else %} Update
                    {% endif %} Reminder
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mt-4">
                <button
                    class="border border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white font-bold py-2 px-4 w-full rounded"
                    type="submit">
                    {% if 'new/' in request.path %} Add
                    {% else %} Update
                    {% endif %} Reminder
                </button>
            </div>
        </form>
    </div>
</div>


{% endblock reminder %}